<accordion [isAnimated]="true" [closeOthers]="true">
  <accordion-group heading="Saldo">
    <h3>Seu Saldo é {{ saldo }}</h3>
  </accordion-group>
  <accordion-group heading="Depositar">
    <form [formGroup]="depositarForm" (ngSubmit)="depositar(depositarForm.value)">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <div class="input-group mb-2">
            <input type="text" currencyMask formControlName="valorDeposito" id="valorDeposito" class="form-control mb-2"
                   placeholder="R$ 0,00" maxlength="18" minlength="2"
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Depositar</button>
        </div>
      </div>
    </form>
  </accordion-group>

  <accordion-group heading="Debitar">
    <form [formGroup]="debitarForm" (ngSubmit)="debitar(debitarForm.value)">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <div class="input-group mb-2">
            <input type="text" currencyMask formControlName="valorDebito" id="valorDebito" class="form-control mb-2"
                   placeholder="R$ 0,00" maxlength="18" minlength="2"
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Debitar</button>
        </div>
      </div>
    </form>
  </accordion-group>

  <accordion-group heading="Transferir">
    <form [formGroup]="transferirForm" (ngSubmit)="transferir(transferirForm.value)">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <div class="input-group mb-2">
            <input type="text" formControlName="agenciaDestino" id="agenciaDestino" class="form-control mb-2" placeholder="Agência">
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <input type="text" formControlName="contaDestino" id="contaDestino" class="form-control mb-2" placeholder="Conta">
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group mb-2">
            <input type="text" currencyMask formControlName="valorTransferencia" id="valorTransferencia" class="form-control mb-2"
                   placeholder="R$ 0,00" maxlength="18" minlength="2"
                   [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Transferir</button>
        </div>
      </div>
    </form>
  </accordion-group>
</accordion>
